{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script>
    <script>
        const ACCORDION_ROW = "{% static 'html/integrity-accordion-row.html' %}";
    </script>
    <script src="{% static 'js/integrity.js' %}"></script>
</head>
<body>

<!-- modals -->
<div class="modal fade" id="integrityModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-primary" id="integrityModalLabel">Integrity Check finished</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="integrityResultText" class="modal-body">
                The integrity check of all the database has finished. Check the results in the page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- body -->
{% include 'catalog/catalog_navbar.html' %}

<div class="catalog-page-container">
    {% csrf_token %}
    <div class="container border rounded align-content-center">
        <h1 class="text-center">Integrity Check</h1>
        <p class="text-center">This page allows you to check if all the movies in this catalog are not broken or
            corrupted.
            To start the check press the button below.</p>

        <div class="row justify-content-center my-2">
            <button id="integrityCheckStart" class="col-auto btn btn-primary " type="button"
                    onclick="startHashCheck({{ movies }})">
                START THE CHECK
            </button>
        </div>

        <div class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100">
            <div id="integrityProgressBar" class="progress-bar progress-bar-striped progress-bar-animated w-0"></div>
        </div>

        <div class="container-fluid accordion" id="integrityListItem">
            <div class="accordion" id="accordionFlushExample">
            </div>
        </div>

    </div>
</div>

<script>
    const VALID = '<span class="text-success"><strong>VALID</strong></span>';
    const CORRUPTED = '<span class="text-danger"><strong>CORRUPTED</strong></span>';
    const CHECKING = '<span class="text-dark-emphasis"><em>Checking...</em></span>';
</script>

</body>
</html>